h1{
color:#636060;
background-color:#cfc6c6;
blur:2px;
font-family:Consolas;
text-align: center;
border: 1px solid black;
padding-top: 30px;
padding-bottom:10px;
margin:20 px;
border-radius: 15px 50px 30px 5px;
}

body{
/*background-image: url('https://cdn.pixabay.com/photo/2017/02/15/11/05/texture-2068283_960_720.jpg');
*/
background-image:url('main.png');
}

.channel:hover {
 background-color: transparent;
    position:relative;
    top:-0px;
    left:-0px;
    width:560px;
    height:315;
    display:block;
    z-index:999;
}

.temp{
	background-color: transparent;
	width:72px;
	height:120px;
}


iframe{
overflow:hidden;
}

